{% extends 'base.html' %}

{% block title %}
home
<link rel="shortcut icon" href="#">
{% endblock title %}  

{% block body %}
<div class="container-fluid my-4 ">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" class="active" aria-current="true" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" class="active" aria-current="true" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://source.unsplash.com/900x300/?football" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="background-color:black ;">Welcome to Arijit's Football Team</h5>
        <p style="background-color:black ;">This website provides all the relevant information related to the Team</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/900x300/?football team" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="background-color:black ;">Team Management</h5>
        <p style="background-color:black ;">This contains the team's management description</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/900x300/?football match" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Team's coaching unit</h5>
        <p>This contains the list of coaching unit of the Team</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>



<div class="container ">
<h1 class="my-2 text-center">Select from the players present in the Team</h1>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://source.unsplash.com/900x900/?football top scorers" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">This includes the Team's top goal scorers</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://source.unsplash.com/900x900/?football league" class="d-block w-100" alt="...">

        <div class="card-body">
          <p class="card-text">This includes Team's League match performance</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://source.unsplash.com/900x900/?football foul" class="d-block w-100" alt="...">

        <div class="card-body">
          <p class="card-text">This includes list of all the foul by Team's players </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="https://source.unsplash.com/900x900/?goal save" class="d-block w-100" alt="...">

        <div class="card-body">
          <p class="card-text">This includes list of all the saves by Team's goalkeepers</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}

